/**
*在Position属性值为absolute的同时，
*如果有一级父对象（无论是父对象还是祖父对象，或者再高的辈分，一样）
*的Position属性值为Relative时，则上述的相对浏览器窗口定位将会变成相对父对象定位，
*这对精确定位是很有帮助的。
*/
*{
    margin: 0;
    padding: 0;
	list-style-type:none;
}
/*Hyper Link*/

a:link{
	color: #ffffff;
	text-decoration: none;   
}   
a:visited{
	color: #ffffff;
	text-decoration: none;   
}   
a:hover {
	color: #ffffff;
	text-decoration: none;   
} 

/*Title*/
div.title{
	width: 1200px;
	height: 200px;
	margin: 0px auto 0px auto;
	line-height: 200px;
	text-align: center;
}

/*Main Content*/
div.main-content{
	width: 1200px;
	height: 700px;
	margin: 0px auto 0px auto;
	text-align: center;
	position: relative;
	background: #FFCBB3;
}

/*Nav-Table*/
div.link-table{
	width: 1200px;
	height: 100px;
	margin: 0px auto 0px auto;
	position: relative;
	text-align: center;
	background: #611111;
}
div.link-table div.table-part{
	width: 33%;   
	height: 100%;
	margin: 0px auto 0px auto;
	position: relative;
	float: left;
	text-align: center;
}

/*Footer*/
div.footer{
	width: 1200px;
	height: 35px;
	margin: 0px auto 0px auto;
	text-align: center;
	background: #643519;
	color: #ffffff;
	font-size: 12px;
	font-family: 'MicroSoft YaHei';
	font-weight: normal;
}